.App {
  text-align: center;
  /*CSS reset*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Highlights {
  min-height: 100%
}

.page-footer{
  color: white;
}

.footer{
  background-color: #ff7518;

}

.navbar {
  text-transform: uppercase;
  text-decoration: none;
  color:white ;
}

/*.btn-details{
  background-color: #ff7518;
}*/

